<div class="container space">
  <app-searchbar></app-searchbar>
  <section>
    <div *ngIf="issues$ | async as issues">
      <ng-container *ngIf="issues.length; else noData">
        <div class="list__container">
          <ul>
            <li *ngFor="let issue of issues">
              <h3> {{issue.title}} #{{issue.number}} </h3>
              <p class="position-r space-r" [attr.track]="issue.state | lowercase"> <span>{{ issue.state }}</span></p>
              <a rel="noopener" target="_blank" role="doc-credits" href="{{issue.html_url}}" class="space-l">More info...</a>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="list__container">
          <ul >
            <li><h1 class="text-center">nothing to show here</h1></li>
          </ul>
        </div>
      </ng-template>
    </div>
  </section>
</div>
