@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import 'variables';

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------SCROLLBAR------ */
::-webkit-scrollbar{
  width: 1vw;
}
::-webkit-scrollbar-track{
  background: $primary-color;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb{
  background: $secondary-color;
  border-radius: 2.5em;
}
::-webkit-scrollbar-thumb:hover{
  background: $info-color;
  cursor:all-scroll;
}

html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: $text-color;
}

footer{
  height: 8rem;
  background: $secondary-color;
  font-size: 1.6rem;
  a{
    font-size: 1.1em;
  }
}

// SHARED
.container{
  flex: 1 0 auto;
  width: 90%;
  height: auto;
  min-height: calc(100vh - 15rem);
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw + .5rem, 4rem);
}

.text{
  &-white {
    color: #fff;
  }
  &-center{
    text-align: center;
  }
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  &-v{
    display: flex;
    align-items: center;
  }
  &-h{
    display: flex;
    justify-content: center
  }
}

.position{
  &-c{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  &-r{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  &-l{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
  }
}

.space{
  padding: 1rem;
  &-l{
    padding-left: 1rem;
  }
  &-r{
    padding-right: 1rem;
  }
}

.button{
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

